@import 'tailwindcss';
@plugin "@tailwindcss/forms";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
    --background-image-home-hero: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1517927033932-b3d18e61fb3a?q=80&w=1920&auto=format&fit=crop');
}

@layer components {
    .border,
    .border-r,
    .border-l,
    .border-t,
    .border-b,
    .border-x,
    .border-y {
        @apply border-gray-200;
    }
}

.result-W {
    @apply text-green-700;
}

.result-D {
    @apply text-amber-900;
}

.result-L {
    @apply text-red-600;
}

@media print {
    @page {
        size: A4 landscape;
    }

    * {
        background: white;
        color: black !important;
    }

    main.football-matches-show .top-row-actions,
    main.football-matches-show .opponent-info,
    main.football-matches-show .line-up-header,
    main.football-matches-show .player-stats {
        display: none;
    }

    main.football-matches-show .line-up-block {
        padding: 2px !important;
    }

    main.football-matches-show .line-up-player-rows {
        padding: 0 !important;
        gap: 5px;
    }

    td, th {
        padding-right: 0 !important;
        padding-block: 5px !important;
        width: auto !important;
    }

    nav, footer {
        display: none;
    }
}
